@{
    ViewData["Title"] = "Sobre";
}
<h1>@ViewData["Title"]</h1>
<hr/>
<div class="text-center">
    <h1 class="display-5">Bem Vindo ao <img src="~/images/p_logo.png" alt="Home" height="42" width="42">restaSys</h1>
</div>
<br />
<p>Aplica&ccedil;&atilde;o criada para a UA de Pr&aacute;tica em Programa&ccedil;&atilde;o para a Web - 2019/1</p>
<p><strong>Turma:</strong> UA - 373 - PR&Aacute;TICA EM PROGRAMA&Ccedil;&Atilde;O PARA WEB - 2019A</p>
<p><strong>Professor-Tutor:</strong> Moacyr Franco de Moraes Neto</p>
<hr />
<p>
    <strong>Implementa&ccedil;&atilde;o das telas de listagem das presta&ccedil;&otilde;es de conta</strong>
</p>
<ul>
    <li>Implementa&ccedil;&atilde;o da listagem das presta&ccedil;&otilde;es de contas.</li>
    <li>Implementa&ccedil;&atilde;o da tela de cria&ccedil;&atilde;o de presta&ccedil;&atilde;o de contas</li>
    <li>Implementa&ccedil;&atilde;o do e-mail de notifica&ccedil;&atilde;o de presta&ccedil;&atilde;o de contas criada.</li>
    <li>Implementa&ccedil;&atilde;o da tela de visualiza&ccedil;&atilde;o de detalhes da presta&ccedil;&atilde;o de contas.</li>
    <li>Implementa&ccedil;&atilde;o da tela de impress&atilde;o da presta&ccedil;&atilde;o de contas.</li>
</ul>
<p>
    <strong>Implementa&ccedil;&atilde;o das telas de aprova&ccedil;&atilde;o das presta&ccedil;&otilde;es de conta</strong>
</p>
<ul>
    <li>Implementa&ccedil;&atilde;o da listagem das presta&ccedil;&otilde;es de contas a serem aprovadas.</li>
    <li>Implementa&ccedil;&atilde;o da tela de aprova&ccedil;&atilde;o de presta&ccedil;&atilde;o de contas.</li>
    <li>Implementa&ccedil;&atilde;o do e-mail de notifica&ccedil;&atilde;o de presta&ccedil;&atilde;o de contas aprovada.</li>
</ul>
<p>
    <strong>Implementa&ccedil;&atilde;o das telas de gerenciamento de usu&aacute;rios</strong>
</p>
<ul>
    <li>Implementa&ccedil;&atilde;o da listagem das usu&aacute;rios.</li>
    <li>Implementa&ccedil;&atilde;o da tela de cria&ccedil;&atilde;o e edi&ccedil;&atilde;o de usu&aacute;rios.</li>
    <li>Implementa&ccedil;&atilde;o da tela de exclus&atilde;o de usu&aacute;rios.</li>
</ul>
