@{
    ViewData["Title"] = "Política de Privacidade e Cookies";
}
<h1>@ViewData["Title"]</h1>
<p></p>
<p>Todas as suas informações pessoais recolhidas, serão usadas para o ajudar a tornar a sua visita no nosso sistema o mais produtiva e agradável possível.</p>
<p>A garantia da confidencialidade dos dados pessoais dos utilizadores do nosso site é importante para o PrestaSys.</p>
<p>Todas as informações pessoais relativas a membros, assinantes, clientes ou visitantes que usem o PrestaSys serão tratadas em concordância com a Lei da Proteção de Dados Pessoais de 26 de outubro de 1998 (Lei n.º 67/98).</p>
<p>A informação pessoal recolhida pode incluir o seu nome, e-mail, número de telefone e/ou celular, endeeço, data de nascimento e/ou outros.</p>
<p>O uso do PrestaSys pressupõe a aceitação deste Acordo de privacidade. A equipe do PrestaSys reserva-se ao direito de alterar este acordo sem aviso prévio. Deste modo, recomendamos que consulte a nossa política de privacidade com regularidade de forma a estar sempre atualizado.</p>
<p>Utilizamos cookies para armazenar informação, tais como as suas preferências pessoas quando visita o nosso website. Isto poderá incluir um simples popup, ou uma ligação em vários serviços que providenciamos, tais como fóruns.</p>
