@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Sobre os Cookies Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a suscipit elit, at scelerisque neque. Nam magna massa, porttitor nec convallis eu, cursus eget justo. Pellentesque vulputate diam augue, id blandit nunc dictum in. Sed orci nunc, finibus sed arcu hendrerit, hendrerit fringilla est. Duis hendrerit dapibus enim, vel volutpat velit varius vitae. Maecenas ut augue luctus, semper neque a, placerat mi. Nulla feugiat orci eget sem condimentum, eget posuere eros placerat. Proin nisi eros, elementum a enim et, hendrerit bibendum neque. Morbi ac fringilla urna. Nunc faucibus odio sit amet lorem placerat, posuere viverra justo pretium. Sed a pulvinar augue, non eleifend lectus. Mauris sodales augue velit, sed cursus lectus dignissim ac. Aliquam posuere eget erat non posuere. Sed in urna sit amet eros maximus tristique.</p>

<p>Vestibulum convallis in nibh a feugiat. Curabitur eu arcu eget sem pretium faucibus. Mauris vitae rhoncus mi. Curabitur condimentum enim ipsum, a feugiat enim tempus eget. Morbi imperdiet tellus tortor, sit amet rutrum enim elementum dictum. Duis odio ex, laoreet quis orci feugiat, semper vulputate erat. Sed hendrerit tempus condimentum. Etiam cursus est non erat vestibulum eleifend. Cras scelerisque sit amet libero nec eleifend. Pellentesque lobortis pharetra dignissim.</p>
