@model Unisul.PrestaSys.Web.Models.Home.ErrorViewModel
@{
    ViewData["Title"] = "Erro Inesperado";
}

<h1 class="text-danger">Erro Inesperado</h1>
<h2 class="text-danger">Ocorreu um erro inesperado durante o processamento da sua requisição.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
<p>
    Por favor tente novamente mais tarde. Se o erro persistir favor entrar em contato com administração do sistema pelo e-mail: <a href="mailto:prestasystem@outlook.com?subject=Ocorreu um erro no Sistema PrestaSys&body=Por favor, insira a descrição do erro:" target="_top">prestasystem@outlook.com</a>
</p>
