@model Unisul.PrestaSys.Web.Models.Prestacoes.PrestacaoViewModel

@{
    ViewData["Title"] = "Aprovar Prestação de Contas";
}

<h1>Aprovar Prestação de Contas</h1>

<h3>Tem certeza que deseja aprovar esta Prestação de Contas?</h3>

<hr />

<div>
    <partial name="_PrestacaoDetailsPartial" for="@Model" />
    <form asp-action="Approve">
        <label asp-for="JustificativaAprovacao" class="control-label"></label>
        <textarea rows="10" asp-for="JustificativaAprovacao" class="form-control"></textarea>
        <span asp-validation-for="JustificativaAprovacao" class="text-danger"></span>
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Aprovar Prestação" class="btn btn-success" /> |
        <a asp-action="Print" asp-route-id="@Model.Id">Imprimir</a> |
        <a asp-action="PrestacoesParaAprovar">Voltar para a Lista</a>
    </form>
</div>
<partial name="_ModalPartial" for="@Model" />
