@model Unisul.PrestaSys.Web.Models.Prestacoes.PrestacaoViewModel

@{
    ViewData["Title"] = "Editar Prestação de Contas";
}

<h1>Editar Prestação de Contas</h1>

<hr />

<partial name="_PrestacaoFormPartial" for="@Model" />

<div>
    <a asp-action="Index">Voltar para a Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
