@model Unisul.PrestaSys.Web.Models.Prestacoes.PrestacaoListViewModel

@{
    ViewData["Title"] = "Lista de Prestações de Contas";
}

<h1>Lista de Prestações de Contas</h1>

<hr/>
<p>
    <a asp-action="Create" class="btn btn-primary">Criar Nova Prestação de Contas</a>
</p>
<partial name="_PrestacaoListPartial" for="@Model" />
<paging class-paging-control="pagination float-right" total-records="@Model.TotalRecords" page-no="@Model.PageNumber" page-size="8"></paging>
