@model Unisul.PrestaSys.Web.Models.Prestacoes.PrestacaoListViewModel

@{
    ViewData["Title"] = "Lista de Prestações de Contas para Aprovação";
}

<h1>Lista de Prestações de Contas para Aprovação</h1>

<hr />

<partial name="_PrestacaoListPartial" for="@Model" />
<paging class-paging-control="pagination float-right" total-records="@Model.TotalRecords" page-no="@Model.PageNumber" page-size="8"></paging>
