@model Unisul.PrestaSys.Web.Models.Usuarios.UsuarioViewModel

@{
    ViewData["Title"] = "Criar Usuário";
}

<h1>Criar Usuário</h1>

<hr />

<partial name="_UsuarioFormPartial" for="@Model" />

<div>
    <a asp-action="Index">Voltar para a Lista</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
