@model Unisul.PrestaSys.Web.Models.Usuarios.UsuarioViewModel

@{
    ViewData["Title"] = "Detalhes do Usuário";
}

<h1>Detalhes do Usuário</h1>

<hr />

<div>
    <partial name="_UsuarioDetailsPartial" for="@Model" />
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Voltar para a Lista</a>
</div>
