a.navbar-brand {
    text-align: center;
    white-space: normal;
    word-break: break-all;
}

.ml-auto .dropdown-menu {
    left: auto !important;
    right: 0px;
}

html { font-size: 14px; }

@media (min-width: 768px) {
    html { font-size: 16px; }
}

.border-top { border-top: 1px solid #e5e5e5; }

.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

html {
    min-height: 100%;
    position: relative;
}

body { margin-bottom: 60px; }

table { white-space: nowrap; }

.footer {
    bottom: 0;
    height: 60px;
    line-height: 60px;
    position: absolute;
    white-space: nowrap;
    width: 100%;
}
.navbar { background-color: #e3f2fd; }

.navbar .navbar-brand { color: #317aae; }

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus { color: #000000; }

.navbar .navbar-text { color: #317aae; }

.navbar .navbar-text a { color: #000000; }

.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus { color: #000000; }

.navbar .navbar-nav .nav-link {
    border-radius: .25rem;
    color: #317aae;
    margin: 0 0.25em;
}

.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus { color: #000000; }

.navbar .navbar-nav .dropdown-menu {
    background-color: #e3f2fd;
    border-color: #c6dff2;
}

.navbar .navbar-nav .dropdown-menu .dropdown-item { color: #317aae; }

.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
    background-color: #c6dff2;
    color: #000000;
}

.navbar .navbar-nav .dropdown-menu .dropdown-divider { border-top-color: #c6dff2; }

.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
    background-color: #c6dff2;
    color: #000000;
}

.navbar .navbar-toggle { border-color: #c6dff2; }

.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus { background-color: #c6dff2; }

.navbar .navbar-toggle .navbar-toggler-icon { color: #317aae; }

.navbar .navbar-collapse,
.navbar .navbar-form { border-color: #317aae; }

.navbar .navbar-link { color: #317aae; }

.navbar .navbar-link:hover { color: #000000; }

@media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item { color: #317aae; }

    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus { color: #000000; }

    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
        background-color: #c6dff2;
        color: #000000;
    }
}

@media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item { color: #317aae; }

    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus { color: #000000; }

    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
        background-color: #c6dff2;
        color: #000000;
    }
}

@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item { color: #317aae; }

    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus { color: #000000; }

    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
        background-color: #c6dff2;
        color: #000000;
    }
}

@media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item { color: #317aae; }

    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus { color: #000000; }

    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
        background-color: #c6dff2;
        color: #000000;
    }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item { color: #317aae; }

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus { color: #000000; }

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    background-color: #c6dff2;
    color: #000000;
}

.modal,body.modal-open {
    padding-right: 0!important
}

body.modal-open {
    overflow: auto
}

body.scrollable {
    overflow-y: auto
}

.modal-footer {
    display: flex;
    justify-content: flex-start;
}

.body-printview {
    font-family: "Verdana";
    /* default is 1rem or 16px */
    font-size: 25px;
    font-weight: 300;
    line-height: 1.5;
}

.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}
